* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}


/* Estilização do container*/

#container {
    width: 625px;
    height: 625px;
    background-color: burlywood;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
}